:root {
    --bg-primary: #202A44;
    ;
    --font-primary: #ffffff;
    --font-size-primary: 3rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html {
    font-size: 62.5%;
    /* 16px *62.5=10px =1rem*/

}

body {
    height: 100vh;
    font: 1.6rem Helvetica, Arial;
}

a {
    color: #000000;
    text-transform: capitalize;
}

a:hover {
    color: #f08040;
}

button{
    font: 1.6rem helvetica;
    padding: 1rem;
    border: 0.1rem #808080 solid;
    border-radius: 0.5rem;
}
button:hover{
    border: 0.1rem #404040 solid;
    opacity: 0.8;
}
button.primary{
    background-color: #f0c040;
}
button:active{
    opacity: 0.7;
}
.fw{
    width: 100%;
}
/* header  */
.grid-container {
    display: grid;
    grid-template-areas: "header" "main" "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 5rem 1fr 5rem;
    height: 100%;
}

header {
    grid-area: header;
    background-color: var(--bg-primary);
    color: var(--font-primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .70rem;
}

header a {
    color: var(--font-primary);
    font-weight: bold;

}

header a:hover {
    color: #f08040;
}

.brand a {
    font-size: var(--font-size-primary);
}

/* products  */
.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.products li {
    flex: 0 1 30rem;
    margin: 1rem;
    margin-bottom: 0;
    height: 40rem;
    border-top: 0.2rem #e0e0e0 solid;


}

.product {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;


}

.product a img {
    max-width: 22rem;
    max-height: 26rem;
    margin-top: 2rem;

}

.product-name {
    line-height: 2.2rem;
}

.product-brand {
    font-size: 1.8rem;
    color: #808080;
}

.product-price {
    font-size: 2rem;
}

/* rating  */
.rating {
    color: #ffc000;
    font-size: 1.8rem;
}

.rating span:last-child {
    color: #444444;
    font-size: 1.4rem;
}




/* product details  */
.content{
    padding: 1rem;
}

.details{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
}

.details-image{
    flex :2 1 60rem;
}
.details-image img {
    max-width: 45rem;
    width: 100%;

}
.details-info, 
.details-action{
    flex: 1 1 30rem;
}
.details-info ul,
.details-action ul{
    padding: 0;

}
.details-info li,
.details-action li{
margin-bottom: 1rem;

}
.details-action{
    border: 0.1rem #808080 solid;
    border-radius: 0.5rem ;
    background-color: #f8f8f8;
    padding: 1rem;
}
/* footer  */
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--font-primary);
    background-color: var(--bg-primary);
}